<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bgColor">
  <a class="navbar-brand" href="#">{{'lblProjectMangement' | translate}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="toolbar" role="banner">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{lang}}/user" routerLinkActive="active-link">{{'lblAddUser' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{lang}}/project"
            routerLinkActive="active-link">{{'lblAddProject' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{lang}}/addTask"
            routerLinkActive="active-link">{{'lblAddTask' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="{{lang}}/viewTask"
            routerLinkActive="active-link">{{'lblAddViewTask' | translate}}</a>
        </li>
      </ul>
    </div>
    <div class="spacer"></div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>